<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-5 col-sm-7">
        <p>Pour tout renseignement, contactez-nous : <i class="fa fa-envelope"></i> crechelacourteechelle@gmail.com</p>
      </div>
    </div>
  </div>
</div>
