<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Avez-vous lu notre <b>livret d'accueil</b> ?</h3>
      </div>
      <div class="modal-body">
        <p>Avant d'accéder au formulaire de demande d'inscription, vous devez avoir lu le livret d'accueil qui explique le fonctionnement de notre crèche associative à gestion parentale et l'implication qu'elle demande en tant que parents :
        <br>
        <% link_to "https://drive.google.com/open?id=0B3-2Z8ekB6XYSkNXdkVMRDY0Smc", :target => "_blank" do %>
          <%= image_tag "livret.png", class: "livret_preview" %>
        <% end %>
        </p>
        <%= link_to "Accéder au formulaire de demande d'inscription", "https://crechelacourteechelle.typeform.com/to/OgJSZZ", :target => "_blank", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
