    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/top_1_HP.jpg');">
      <div class="banner-content fade-and-slice">
        <h1>Crèche La Courte Échelle à Toulouse</h1>
        <p>Bienvenue dans notre crèche associative à gestion parentale</p>
      </div>
    </div>


    <div class="padded-top text-center">
      <div class="container">
        <div class="col-xs-12 col-sm-3">
          <div class="features">
            <img src="images/children.png">
            <br>
            <h2>28 enfants</h2>
            <p>
              La crèche accueille 28 familles pour 11 salariées. Le nombre d'enfants accueillis permet de créer une ambiance chaleureuse et familiale. Les enfants sont regroupés en 2 groupes : bébés et moyens/grands.
            </p>
            </div>
          </div>
        <div class="col-xs-12 col-sm-3">
          <div class="features">
            <img src="images/permanences.png">
            <br>
            <h2>1 matinée par mois</h2>
            <p>
              Chaque parent offre un peu de son temps à la gestion de la crèche : en plus des permanences (1 matinée par mois), les parents sont impliqués dans l'une des 4 commissions, et dans les diverses réunions.
            </p>
            </div>
          </div>
        <div class="col-xs-12 col-sm-3">
          <div class="features">
            <img src="images/space.png">
            <br>
            <h2>355m<sup>2</sup> + 200m<sup>2</sup></h2>
            <p>
              Située au 45 bis boulevard Matabiau, la crèche dispose d'un intérieur de 355m<sup>2</sup> et d'une terrasse de 200m<sup>2</sup> incluant des structures ludiques : au total, elle compte 3 toboggans pour le bonheur des enfants !
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="features">
            <img src="images/employees.png">
            <br>
            <h2>12 salariés</h2>
            <p>
              En tant que crèche associative à gestion parentale, les parents sont les employés du personnel : 3 éducatrices, 2 auxiliaires de puériculture, 4 aides auxiliaire, 1 infirmière et 2 agents d'entretiens.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center padded features">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/top_1.jpg');">
          <div class="card-description">
            <h2>Présentation</h2>
          </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-9">
          <p class="text-left">La Crèche la courte echelle est une <strong>crèche associative a gestion parentale</strong>.
          Les parents participent au projet d'établissement et à l'éveil de leurs enfants.
          Le projet social, éducatif et pedagogique résulte d'un travail d'équipe. Il est principalement axé autour de l'enfant, ses besoins, sa famille.
          <br>
          Le groupe des bébés dispose d'un lieu privilégié où les enfants peuvent évoluer en toute sécurité et s'éveiller avec les nombreux jouets adaptés a leur motricité.
          Le groupe « Moyens–Grands » n’est pas cloisonné, ce qui permet grâce à l’observation des membres du personnel, de le moduler selon l’évolution des enfants.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="text-right" >L'équipe accompagne l’enfant pour qu’il ait une autonomie suffisante pour vivre au mieux la vie en collectivité.
          L'accueillir, l'aider au travers d'activités et par les paroles et lui permettre de s'intégrer dans un groupe de son âge, font partie intégrante du rôle pédagogique.
          <br>
          Pour être ce lieu d'éveil, la structure répondra au mieux aux besoins généraux de l'enfant, à savoir : la sécurité physique et affective, la socialisation, l'autonomie
          <br>
          Les professionnelles proposent un temps d’éveil permanent et quotidien aux bébés. Tout au long de la journée, l’équipe est à l’écoute du rythme de l’enfant. Un matériel éducatif adapté est proposé ainsi que des temps de relation duelle courts afin de stimuler motricité, socialisation et autonomie.</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/top_1.jpg');">
            <div class="card-description">
              <h2>L'équipe</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/top_1.jpg');">
          <div class="card-description">
            <h2>Accueil et entrée progressive</h2>
          </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-9">
          <p class="text-left">L'arrivée en collectivité est, pour l'enfant et son parent, une étape importante. C'est une période de transition pu chacun se crée des repères dans ce nouvel environnement. Faire connaissance avec le lieu d'accueil, les autres enfants et le personnel est une étape importante qui permet, aux enfants et aux parents, de reconnaître et investir les lieux.
          Cela permet aussi à l'équipe éducative d'apprendre à connaître les rythmes de l'enfant ainsi que les habitudes familiales.
          <br>
          La rentrée progressive se fait sur 15 jours pendant lesquels les parents déposent leur enfant sur des périodes de plus en plus longues.  Ce temps peut être modulable suivant les besoins de l'enfant, de ses parents et de nos observations professionnelles.
          La présence sécurisante des parents favorisent l'accompagnement de l'enfant et l'aident à intégrer sa place au sein de la crèche.
          Lors de cette adaptation les parents sont accueillis par une professionnelle qui échange avec eux sur les habitudes de vie de leur enfant afin de répondre au mieux aux besoins de celui-ci (repas, sommeil, doudou, sucette.). Ils visitent ensemble la structure et restent une heure environ afin de s'imprégner de l'ambiance de la crèche.
          L'enfant viendra ensuite seul sur de courtes périodes qui s'allongeront au fil de la semaine. Durant la deuxième semaine il fera progressivement de petites journées où l'on intègrera au fur et à mesure un repas puis une sieste pour lui permettre de vivre une journée entière avec nous.
          Il est important qu'une confiance mutuelle s'instaure entre l'équipe, le(s) parent(s) et l'enfant afin que ce dernier prenne ses repères et profite pleinement de cet univers nouveau qu'est la collectivité.</p>
        </div>
      </div>
    </div>

    <div class="wrapper-grey padded">
      <div class="container">
        <h2 class="text-center">Quelques photos</h2>
        <p class="text-center">Fin 2015, la crèche a emménagé dans de nouveaux locaux, flambant neufs, mis à sa disposition par la Ville de Toulouse. D'une superficie de plus de 300 m2, elle est constitué de plusieurs espaces : lieux de vie (un pour les petits, un pour les moyens-grands), salles de sommeil, salle à manger, cuisine, salles de change, vestiaire.</p>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/top_1.jpg');">
              <div class="card-description">
                <h2>Grande salle</h2>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/salle.jpg');">
              <div class="card-description">
                <h2>Salle à manger</h2>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/ext_1.jpg');">
              <div class="card-description">
                <h2>Extérieur</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center padded" id="newsletter">
      <h3>Formulaire d'inscription</h3>
      <p>Déposez votre demande d'inscription grâce à notre formulaire en ligne.</p>
      <form class="form-inline">
      <%= link_to "Demande d'inscription", "#", data: { toggle: "modal", target: "#myModal" }, class: "btn btn-primary" %>
      <%= link_to "Mettre à jour ma demande d'inscription", "https://crechelacourteechelle.typeform.com/to/OgJSZZ", :target => "_blank", class: "btn btn-default" %>


        <!-- MODAL PAGE  -->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Important</h3>
              </div>
              <div class="modal-body">
                <p>Acceptez les règles d'une crèche associative. Auparavant, accédez au <%= link_to "Livret d'Accueil", "https://drive.google.com/open?id=0B3-2Z8ekB6XYVjNybGwzSzdZamc", :target => "_blank", class: "btn btn-default" %></p>
                <%= link_to "Accéder au formulaire de demande d'inscription", "https://crechelacourteechelle.typeform.com/to/OgJSZZ", :target => "_blank", class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="text-center" id="newsletter">
      <h2>Notre adresse</h2>
      <p>45 bis boulevard Matabiau, 31000 Toulouse</p>

    <div id="map" style="width: 100%;height: 500px;"></div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(43.61519,1.44135);
    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
    };
    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"You are here!"
    });
    </script>
</div>



