<div class="padded text-center">
  <h2 class="section-header">Our team</h2>
  <br>
  <ul class="list-inline">
    <li>
    <%= image_tag "images/anne.jpg", class: "avatar-large", alt: "Anne" %>
      <h3>Anne</h3>
    </li>
    <li>
    <%= image_tag "images/romain.jpeg", class: "avatar-large", alt: "Romain" %>
      <h3>Romain</h3>
    </li>
    <li>
    <%= image_tag "images/seb.jpg", class: "avatar-large", alt: "Seb" %>
      <h3>Seb</h3>
    </li>
    <li>
    <%= image_tag "images/nicolas.jpg", class: "avatar-large", alt: "Nicolas" %>
      <h3>Nicolas</h3>
    </li>
  </ul>
</div>
